* {
  font-family: Helvetica;
  text-align: center;

}
h1 {
  font-size: 70px;
  font-weight: bold;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 14px;
}
h4 {
  font-size: 23px;
}
.header, h4{
  color: white;
  background-image: url('../images/the-flatiron-building.png');
  background-size: auto;
  background-repeat: no-repeat;
}
.footer {
  font-size: 11px;
  color: white;
  text-align: left;
  background-color: dimgray;
}
